<div class="card-holder">
    <div class="header">
        <span class="type">Donation</span>
        <button class="btn btn-primary header-button" (click)="requestItem()">Request</button>
        <span class="date">2 days ago</span>

    </div>
    <div class="card" (click)="openDialog($event)">
        <img class="card-img-top" src="../../../assets/regood_logo.png" alt="Card image cap">
        <div class="card-body">
            <p class="location">{{item.city? item.city: 'City'}}, {{item.state? item.state: 'State'}}</p>
            <p class="card-title">{{item.name? item.name: 'Item Name'}}</p>
            <p class="card-text">{{item.description? item.description: 'item description here'}}</p>
        </div>
    </div>
</div>