.header {

    color:grey;
}

.type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 120%;
    /* font color should change for requests */
    color: #0278AD;
}

p.card-title {
    color: #0278AD;
    font-weight: 500;
    font-size: 120%;
}

p.location {
    text-transform: uppercase;
    font-size: 90%;
    color: #6A6666;
}

.card-img-top {
    width: 6rem;
    height: 6rem;
    margin: 2rem;
}

.card{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #f1f1f1;
    border-top: 1px solid darkgrey;
    cursor: pointer;

}
.card-holder{
    width: 80%;
    margin: 2rem;
    
}

span {
    padding: 0 1rem;
  
}


.header-button, .date{
    padding: 0 1rem;
    float:right;
}

.header-button {
    margin-bottom: .5rem;
    padding-top: .1rem;
    padding-bottom: .1rem;
}