<h2>Make a Post</h2>
<form [formGroup]="itemForm">
    <div class="form-group">
        <label for="name">Post title</label>
        <input type=string id="name" aria-describedby="string" class="form-control" placeholder=""
            formControlName="name">
    </div>
    <div class="form-group">
        <label for="description">Post Description</label>
        <textarea class="form-control" id="description" aria-describedby="string" srows="3"
            formControlName="description"></textarea>
    </div>

    <div class="form-group">
        <label for="city">Location</label>
        <div class="row">
            <div class="col">
                <input type=string id="city" aria-describedby="string" class="form-control" placeholder="City"
                    formControlName="city">
            </div>
            <div class="col">
                <input type=string id="state" aria-describedby="string" class="form-control" placeholder="State"
                    formControlName="state">
            </div>
            <div class="col">
                <input type=string id="zipCode" aria-describedby="string" class="form-control" placeholder="zipCode"
                    formControlName="zipCode">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="category">Category</label>
        <select (change)="setCategory($event)" class="form-control" id="category">
            <option></option>
            <option>Furntiure</option>
            <option>PDF document</option>
            <option></option>
        </select>
    </div>
    <div class="form-group">
        <label for="category">Condition</label>
        <div>
            <button class="btn btn-default btn-condition" type="submit" (click)="setCondition('poor')">Poor</button>
            <button class="btn btn-default btn-condition" type="submit" (click)="setCondition('some-wear')">Some
                wear</button>
            <button class="btn btn-default btn-condition" type="submit" (click)="setCondition('good')">Good</button>
            <button class="btn btn-default btn-condition" type="submit" (click)="setCondition('like-new')">Like
                New</button>

        </div>
    </div>

</form>
<div class="container" appDnd (fileDropped)="onFileDropped($event)">
    <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
    <h3>Drag and drop file here</h3>
    <h3>or</h3>
    <label class="button-label " for="fileDropRef">Browse for file</label>
</div>
<div *ngIf="selectedFile" class="files-list">
    <h4 class="name">
        {{ selectedFile.name }}
    </h4>
</div>
<button class="btn btn-primary center post-button" type="submit" (click)="postItem()">Post</button>

<!-- [disabled]="!itemForm.valid"  -->



<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Response</h4>
        <line></line>
    </div>
    <div class="modal-body">
        <p>{{response}}</p>
    </div>
</ng-template>