.over-all {
  margin: auto;
  max-width: 34rem;
}

.btn-condition {
  border: 1px #00000045 solid;
  border-radius: 0px;
  margin: 6px;
}

.btn-condition:focus, .btn-condition:hover, .btn-condition:active {
  background-color: #007bff;
  /* background-color: #06A5DF; */
  color: white;
}

.container {
  width: 450px;
  height: 200px;
  padding: 2rem;
  text-align: center;
  border: solid 1px #97979769;
  position: relative;
  margin: 0 auto;
}

.button-label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 10px;
    background-color:#007bff;
    /* background-color: #0278AD; */
    padding: 8px 16px;
    cursor: pointer;
    ;
  }


.container h3 {
    font-size: 20px;
    font-weight: 400;
    color: #38424c;
  }
  .container 
  input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

.post-button{
  margin-top: 3rem;
}

.center {
  text-align: center;
}

.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.files-list {
  margin-top: 1.5rem;
  width: fit-content;
  position: relative;
  margin: auto;
  padding: 0.5rem;
  align-items: center;
  border-bottom: solid 1px #97979769;
  border-left: solid 1px #97979769;
  border-right: solid 1px #97979769;

}
.name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}

.icon {
  width: 4rem;
  /* float: left; */
  /* margin-right: .5rem; */
}