<div class="content" role="main">
    <h1>Welcome to ReGood!</h1>
    <p>The platform to give away your goods and do some good!</p>
    <!-- <div class="text-container"> -->
    <h2><span STYLE="font-size:200%; color:#06A5DF">45% </span>less imaginary items in the landfill</h2>
    <h2>More than <span STYLE="font-size:200%; color:#7CBB42">10,000 </span>imaginary items traded</h2>
    <h2><span STYLE="font-size:200%; color:#06A5DF">100+ </span>imaginary communities love our platform</h2>
    <!-- </div> -->
</div>