<div class="card-holder">
    <div class="header">
        <span class="type">Donation</span>
        <button class="btn btn-primary header-button">Reply</button>
        <span class="date">2 days ago</span>

    </div>
    <div class="card">
        <img class="card-img-top" src="../../../assets/regood_logo.png" alt="Card image cap">
        <div class="card-body">
            <h6>{{item.city? item.city: 'City'}}, {{item.state? item.state: 'State'}}</h6>
            <h5 class="card-title">{{item.title? item.title: 'Item Title'}}</h5>
            <p class="card-text">{{item.description? item.description: 'item description here'}}</p>
        </div>
    </div>
</div>