<div class="toolbar" role="banner">
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.09 46.09">
    <defs>
      <style>
        .cls-1 {
          fill: #06a5df;
        }

        .cls-2 {
          fill: #0278ad;
        }

        .cls-3,
        .cls-4 {
          fill: none;
          stroke-miterlimit: 10;
          stroke-width: 3px;
        }

        .cls-3 {
          stroke: #0278ad;
        }

        .cls-4 {
          stroke: #fff;
        }

        .cls-5 {
          fill: #fff;
        }
      </style>
    </defs>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <circle class="cls-1" cx="23.04" cy="23.04" r="23.04" />
        <polygon class="cls-2" points="24.85 27.52 27.6 34.7 32.44 28.72 24.85 27.52" />
        <polygon class="cls-2" points="21.02 21.64 18.26 14.46 13.42 20.43 21.02 21.64" />
        <path class="cls-3" d="M23.85,24.45s-3.66,7.2-9.2,7.2a7.2,7.2,0,0,1,0-14.4" />
        <path class="cls-3" d="M33.05,31.65a7.2,7.2,0,1,0,0-14.4c-5.88,0-9.45,7.65-9.45,7.65" />
        <path class="cls-3" d="M14.65,17.25A7.35,7.35,0,0,1,19.3,19" />
        <path class="cls-3" d="M33.13,31.65a7.33,7.33,0,0,1-4.66-1.77" />
        <path class="cls-4" d="M23,23.57s-3.66,7.2-9.2,7.2a7.2,7.2,0,0,1,0-14.4" />
        <path class="cls-4" d="M32.24,30.77a7.2,7.2,0,0,0,0-14.4c-5.88,0-9.45,7.65-9.45,7.65" />
        <path class="cls-4" d="M13.69,16.37a7.32,7.32,0,0,1,4.66,1.76" />
        <path class="cls-4" d="M32.32,30.77A7.63,7.63,0,0,1,29.07,30" />
        <polygon class="cls-5" points="21.66 20.84 18.91 13.66 14.06 19.64 21.66 20.84" />
        <polygon class="cls-5" points="25.54 26.66 28.3 33.84 33.14 27.87 25.54 26.66" />
      </g>
    </g>
  </svg>

  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <app-new-item></app-new-item>
</div>


<router-outlet></router-outlet>