<div mat-dialog-title class="header dialog-title">
    <span class="type">DONATION</span>
    <button class="button-close" mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-dialog-content class="mat-typography">
    <div class="card-holder">
        <div class="header">
            <h5 style="float: left;">{{item.city? item.city: 'City'}}, {{item.state? item.state: 'State'}}</h5>
            <span class="date">2 days ago</span>
        </div>
        <div class="card">
            <img class="card-img-top" src={{image}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name? item.name: 'Item Name'}}</h5>
                <p class="card-text">{{item.description? item.description: 'item description here'}}</p>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button class="btn btn-primary button-bottom">Request</button>
    <button class="btn btn-light button-bottom">Report</button>
</mat-dialog-actions>